.instanceChild {
  position: relative;
  width: 129.17px;
  height: 129.17px;
  object-fit: cover;
}
.name {
  align-self: stretch;
  position: relative;
  line-height: 14.26px;
  font-weight: 500;
}
.instanceWrapper,
.rectangleParent {
  display: flex;
  align-items: flex-start;
}
.rectangleParent {
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 12.916666030883789px var(--padding-0);
  justify-content: flex-start;
  gap: 12.92px;
}
.instanceWrapper {
  width: 390px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 14.66px;
  color: var(--color-black);
  font-family: var(--font-oswald);
}
