.title {
  flex: 1;
  position: relative;
  line-height: 11.87px;
  font-weight: 500;
}
.frameWrapper,
.titleWrapper {
  display: flex;
  box-sizing: border-box;
}
.titleWrapper {
  width: 390px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-0);
  align-items: flex-start;
  justify-content: center;
}
.frameWrapper {
  border-radius: var(--br-sm);
  width: 338px;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-0);
  align-items: center;
  justify-content: flex-start;
}
.loremIpsumDolor {
  position: relative;
  line-height: 19.9px;
  font-weight: 300;
  display: inline-block;
  width: 314px;
  flex-shrink: 0;
}
.loremIpsumDolorSitAmetCoWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 13.96px;
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.frameParent {
  background-color: var(--color-white);
  width: 390px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.frameChild {
  position: relative;
  border-top: 1px solid var(--color-orange);
  box-sizing: border-box;
  width: 130.1px;
  height: 1px;
}
.lineWrapper {
  display: flex;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.instanceChild {
  position: relative;
  width: 49px;
  height: 49px;
}
.engineering {
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.textHolder {
  position: relative;
  line-height: 11.04px;
  font-weight: 600;
}
.instanceContainer {
  width: 115px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs);
}
.instanceGroup,
.instanceParent {
  align-self: stretch;
  display: flex;
  gap: var(--gap-3xs);
}
.instanceGroup {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-9xl);
  align-items: flex-start;
  justify-content: center;
  font-size: 10.43px;
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.instanceParent {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 18.45px;
  color: var(--color-darkslateblue);
  font-family: var(--font-oswald);
}
