@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-oswald: Oswald;
  --font-roboto: Roboto;
  --font-arial: Arial;

  /* font sizes */
  --font-size-mini-7: 14.7px;
  --font-size-lg: 18px;
  --font-size-mid: 17px;
  --font-size-2xs-4: 10.4px;
  --font-size-4xs-4: 8.4px;
  --font-size-smi-4: 12.4px;
  --font-size-sm: 14px;
  --font-size-lg-5: 18.5px;
  --font-size-2xs-9: 10.9px;
  --font-size-mini: 15px;
  --font-size-xs-4: 11.4px;
  --font-size-2xl-1: 21.1px;
  --font-size-5xl: 24px;
  --font-size-base: 16px;
  --font-size-8xl: 27px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkslateblue: #003865;
  --color-orange: #f2a900;
  --color-darkslategray: #002d4b;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-smi-9: 12.9px;
  --gap-24xl-9: 43.9px;
  --gap-9xl: 28px;
  --gap-6xs: 7px;
  --gap-9xs-9: 3.9px;

  /* Paddings */
  --padding-smi-9: 12.9px;
  --padding-9xs: 4px;
  --padding-3xs: 10px;
  --padding-mini: 15px;
  --padding-xs: 12px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-10xs: 3px;
  --padding-lg: 18px;
  --padding-8xs: 5px;
  --padding-9xl: 28px;
  --padding-6xs: 7px;
  --padding-6xs-5: 6.5px;
  --padding-11xs-3: 1.3px;
  --padding-11xs: 2px;
  --padding-2xs: 11px;
  --padding-0: 0px;

  /* border radiuses */
  --br-xl: 20px;
  --br-11xl: 30px;
  --br-sm: 14px;
}
